**.pyc
**/.idea/**
**/errors.log
erzyanparser/analyzer/wordlist.csv
erzyanparser/analyzer/wordlist.csv-parsed.txt
erzyanparser/analyzer/wordlist.csv-unparsed.txt
erzyanparser/analyzer/wordlist.*
**.docx
archive/**
sources/**
rus_words.py
unite_dictionaries.py
unparsed_reverse_list.txt
erzyanparser/analyzer/UniParser/__pycache__/**