**.pyc
**/.idea/**
**/errors.log
uniparser-grammar-erzya/analyzer/wordlist.csv
uniparser-grammar-erzya/analyzer/wordlist.csv-parsed.txt
uniparser-grammar-erzya/analyzer/wordlist.csv-unparsed.txt
uniparser-grammar-erzya/analyzer/wordlist.*
**.docx
archive/**
sources/**
rus_words.py
unite_dictionaries.py
unparsed_reverse_list.txt
uniparser-grammar-erzya/analyzer/UniParser/__pycache__/**