include uniparser-grammar-erzya/analyzer/bad_analyses.txt
include uniparser-grammar-erzya/analyzer/paradigms.txt
include uniparser-grammar-erzya/analyzer/lexemes.txt
include uniparser-grammar-erzya/analyzer/lex_rules.txt